.footer {
  height: 25rem;
  display: flex;
  justify-content: space-around;
  background-color: #eeeeee;
 
  padding: 3rem 0;
}

.logoFooter Image {
  width: 5rem;
}

.contato h1, .institucional h1{
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #009246;
}

.institucional ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.institucional ul li a {
  color: black;
  font-weight: 500;
}

.institucional ul li a:hover {
  color: #009246;
}

.redeSociais {
  
  margin-top: 2rem;
}

.redeSociais ul {
  display: flex;
  padding: 0 1rem;
  gap: 4rem;
}

.redeSociais ul li i {
  font-size: 3rem;
}

.redeSociais ul li {
  padding: .5rem;
}

.redeSociais ul li i:hover, 
.redeSociais ul li:hover{
  color: #ffffff;
  background-color: #009246;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

@media (max-width: 600px) {
  .footer {
    width: 100vw;
    background-color: #009246;
  }
}