.footer {
  background-color: rgb(228, 228, 228);
  display: flex;
  justify-content: space-around;
  max-width: 100vw;
  height: 200px;
  padding: 3rem 0rem;
  flex-wrap: wrap;
  flex-grow: 1;
 

}

.contato h1, 
.institucional h1
{
  font-weight: 900;
  font-size: 2.2rem;
  color: #009246;
}

.institucional ul li {
  margin-top: 1.1rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.institucional ul li i{
  font-size: 2rem;
}

.link {
  color: #000;
  font-weight: 500;
  margin-left: .5rem
}

.link:hover {
  color: #009246;
}

.contato ul li{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contato ul li {
  margin: 1.1rem 0;

}

.redeSociaisFooter ul{
  display: flex;
  gap: 3rem;
}

.redeSociaisFooter ul li {
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #009246;

  background-image: linear-gradient(#009246 0 0);
  background-size: 200% .08em; 
  background-position: 200% 100%;
  background-repeat: no-repeat;
  transition: background-size .3s, background-position .3s .3s;
}

.redeSociaisFooter ul li:hover {
  transition: background-size .3s .3s, background-position .3s;
  background-size: 200% 100%;
  background-position: 100% 100%;

}

.redeSociaisFooter ul li:hover > i {
  color: #fff;
  transition: color 1500ms;
}

.redeSociaisFooter ul li i{
 font-size: 3rem;
 color: #009246;
 
}



@media (max-width: 480px) {
   .footer {
    height: 36rem;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .logoFooter {
    width: 4rem;
    height: 4rem;
  }

  .textoDescricao p {
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  .contato h1, 
  .institucional h1
  {
   font-size: 1.8rem;
   text-align: center;
  }
  .redeSociaisFooter ul li {
    width: 4rem;
    height: 4rem;
  }
  
  .redeSociaisFooter ul li i{
   font-size: 2rem;
  }

  .institucional ul li i{
    font-size: 1.6rem;
  }

  .link {
    font-size: 1.2rem;
  }
  .contato ul li {
    font-size: 1.2rem;
    margin-top: 1.1rem;
  }


}